<h1>Sending Emails</h1>
<form action="/email" method="post">
    <input type="text" name="reviewer" placeholder="Reviewer" required>
    <br>
    Will be reviewing
    <br>
    <input type="text" name="username" placeholder="Reviewee" required> 's
    <input type="text" name="projectName" placeholder="Project name" required>
    <input type="submit">
</form>